modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
buildCommand = "npm run build"
build = ["sh", "-c", "npm run build"]
publicDir = "public"
run = ["sh", "-c", ""]

[[ports]]
localPort = 3000
externalPort = 80
